
  .git
  .ipynb_checkpoints/*
  /notebooks/*
  /unused/*
  Dockerfile
  .DS_Store
  */temp*
  */*/temp*
  temp?
  .gitignore
  README.md
  env.*
  /devops/*

# To prevent storing dev/temporary container data
  *.csv
  /tmp/*